<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <mappers >
        <mapper resource="com/ku/bobo/generator/mapper/mysql/IllnessDao.xml"></mapper>




        <mapper resource="com/ku/bobo/generator/mapper/oracle/GyJbbmHnDao.xml"></mapper>
    </mappers>
</configuration>
